html{

}
body,p,h1,div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    
    text-align: center;
    
}
.logo{
    width: 100%;
    height: 100%;
}
.background-img{
  height: 100%;
  width: 100%;
  margin-top: 100px;
  box-shadow: 0px 10px 0px -150px  rgba(0,0,0,1.0)
 }

li, a{
    padding-left:25px;
    margin-top: 10px;
    margin-right: auto;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
    font-size: 20px;
    box-sizing: border-box;
    justify-self: center;
    
    
     

}
a{
    color: #F3DC0B;
    padding: 0;
    margin: 0;
}
ul{
    width:100%;
    display: grid;
    margin-top: 0;
   padding-left: 40px;
   //padding-top: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px;
    //justify-items: center;
    align-content: space-between ;
    justify-content: right;
    
    
   
}

#svg-header{  
 background: #333;
 width:100%;
 height: 50px;
 background-size:cover; 
 z-index: 10;
   
}
.header-img-wrapper{
 margin-bottom: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
 .logo{
     margin-top:100px;
 }

.svgbox {
width:95%;
margin:0 auto 0 auto;
border-bottom: 15px groove #333;
border-bottom-left-radius:15px; 
border-bottom-right-radius:15px;
    
}
.products_background{
    margin-top: 45px;
    border-top: 15px solid black;
    background: linear-gradient(359.13deg, rgba(255, 255, 255, 0) 16.22%, rgba(245, 207, 5, 0.67) 55.61%, rgba(255, 255, 255, 0) 100.3%);
}
#main_product_header{
    font-size: 76px;
    color:#351312; 
    font-family:sans-serif; 
    width: 80%;
    margin-right: auto;
    margin-left:auto;
    padding: 25px;
}
.cbd_hero{
 margin-top: 60px;
 margin-bottom: 60px;
 width: 80%;
 height: 400px;
 box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.product_image{
    width:80%;
    height:320px; 
    border:1px solid black;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.card_discription{
    color:#fff;
    margin-top: 15px;
}
.card_header ,.product_sub_header{
    color:#351312;
    text-shadow:2px 10px 7px rgba(28,110,164,0),
    0px 3px 3px rgba(255,255,255,0.5);
}
.card_grid_wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.card{
    margin-top:40px;
    border: 1px solid grey;
   // height: 600px;
   // width: 400px;
    padding:1em;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background:linear-gradient(180deg, #FFFFFF 0%, rgba(53, 19, 18, 0.92) 89.48%);
    
}
.location_header{
    margin-top:100px;
    font-size: 76px;
    color: red;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}
#map-wrapper_div{
    display:grid;
   margin-top:150px;
    grid-template-areas:  
                         "map add2"
                         "map add1"
                         "map ..."
                         ;
    grid-gap:25px;
                          
                         
                         
       
} 

  .add_card1{
  
    grid-area: add2;
} 

.add_card2{
   
    grid-area: add1;
  
}
.address1{
   
} 
#map{
   
    grid-area: map;
    justify-self: center;
}                        
.map-wrapper{
    // width: 100vw;
    
    margin-top: 50px;
    height: 800px;
    background: linear-gradient(359.13deg, rgba(42, 115, 156, 0) 31.03%, rgba(49, 160, 94, 0.89) 55.61%, rgba(196, 196, 196, 0) 94.64%);
     z-index: -3;
     text-align: center;
}
.address_card{
   
}
#map{
    
    position: relative;
    height:400px;
    width:400px;
    border: 15px ridge red;
    box-shadow: 8px 8px 4px rgba(0,0,0,0.7);
    border-radius: 50%;
    z-index: 0;
  }
  .address_card{
    height: 200px;
    width:400px;
    padding:35px;
    font-family: sans-serif;
    font-size: 20px;
    color:blue;
      text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
      width:100%;
      border-radius: 15px;
      background:linear-gradient(179.29deg, #F20707 9.72%, #F3F804 89.74%);
  }
  .hero{
      position: relative;
      color: rgb(255, 255, 255);
      margin-top:100px;
      margin-right:auto;
      margin-left:auto;
      width:95%;
      height: 400px;
      background-position: center;
      background:url("assets/kg-clark-kent.jpg")no-repeat;
      overflow: hidden;
      background-size: cover;
      background-attachment: fixed;
      opacity: 1;
      z-index: -1;
      //border:25px solid;
      //border-image: url()
       h1{
          font-size: 88px;
         text-shadow:5px 8px 2px rgba(0,0,0,0.7)
        }
         p{
            font-size: 42px;
            text-shadow:2px 4px 2px rgba(0,0,0,0.7)
          }
        }
  #about{
      margin-bottom: 100px;
 
       }     
.hero2{
  position: relative;
  color: rgb(255, 255, 255);
  margin-top:100px;
  margin-right:auto;
  margin-left:auto;
  width:95%;
  height: 400px;
  background-position: center;
  background:url("assets/20190221_070013\ \(1\).jpg")no-repeat;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
  h1{
    font-size: 88px;
   text-shadow:5px 8px 2px rgba(0,0,0,0.7)
  }
   p{
      font-size: 42px;
      text-shadow:2px 4px 2px rgba(0,0,0,0.7)
    }
}
.about-wrapper{
    position: relative;
    z-index: -2;
    background: linear-gradient(359.13deg, rgba(255, 255, 255, 0) 16.22%, rgba(214, 16, 16, 0.67) 55.61%, rgba(255, 255, 255, 0) 100.3%);
}